/**** DESKTOP ****/
/* section bannerHome  */
.section__bannerHome {
    margin-top: 63px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    max-height: 223px;
    border-radius: 25px;
}
.bannerHome__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.bannerHome__img__smartphone {
    display: none;
}
/* transparency effect bannerHome  */
.bannerHome__overlay {
    background: var(--BgColor2);
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.3;
  }
.bannerHome__title {
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 48px;
    font-weight: 500;
    line-height: 68.45px;
    color:var(--secondaryColor);
}

@media (max-width: 992px) {
    .section__bannerHome {
        max-height: 0px;
        min-height: 140px;
    }
    .bannerHome__img {
        min-height: 150px;
    }
    .bannerHome__title {
        font-size: 36px;
    }
}

/**** TABLET ****/
@media (max-width: 768px) {
    .section__bannerHome {
        margin-top: 40px;
    }
    .bannerHome__title {
        font-size: 28px;
    }
}

/**** SMARTPHONE ****/
@media (max-width: 576px) {
    .section__bannerHome {
        margin-top: 16px;
        min-height: 111px;
        border-radius: 10px;
    }
    .bannerHome__title {
        font-size: 20px;
    }
}

@media (max-width: 375px) {
    .section__bannerHome {
        max-height: 0px;
        min-height: 111px;
        border-radius: 10px;
    }
    .bannerHome__img {
        /* width: 335px;
        height: 111px;
        left: 20px;
        top: 83px; */
    }
    .bannerHome__img {
       display: none;
    }
    .bannerHome__img__smartphone {
        display: flex;
    }
    .bannerHome__title {
        text-align: start;
        margin: 31px 102px 32px 16px;
        font-size: 24px;
        line-height: 24px;
    }
}