/**** DESKTOP ****/
.banner__housing__section {
  position: relative;
  display: flex;
  border-radius: 25px;
  align-items: center;
  margin-top: 30px;
  overflow: hidden;
  width: 100%;
  height: 415px;
  border-radius: 25px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.banner__housing__arrowLeft {
  position: absolute;
  left: 15px;
  font-size: 100px;
  color: var(--secondaryColor);
  cursor: pointer;
  z-index: 1;
  transition: transform 0.3s ease-out;
}
.banner__housing__arrowLeft:hover {
  transform: scale(1.1);
}
.banner__housing__arrowRight {
  position: absolute;
  right: 15px;
  font-size: 100px;
  color: var(--secondaryColor);
  cursor: pointer;
  z-index: 1;
  transition: transform 0.3s ease-out;
}
.banner__housing__arrowRight:hover {
  transform: scale(1.1);
}
.banner__housing__slideCounter {
  position: absolute;
  left: 48.95%;
  right: 49.11%;
  bottom: 6.01%;
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: var(--secondaryColor);
}
.banner__housing__section img {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  object-fit: cover;
  border-radius: 25px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: -1;
}
img.show {
  opacity: 1;
}

@media (max-width: 1200px) {
  .banner__housing__arrowLeft {
    left: 10px;
    font-size: 80px;
  }
  .banner__housing__arrowRight {
    right: 10px;
    font-size: 80px;
  }
}

/* TABLET */
@media (max-width: 768px) {
  .banner__housing__arrowLeft {
    left: 10px;
    font-size: 60px;
  }
  .banner__housing__arrowRight {
    right: 10px;
    font-size: 60px;
  }
}

/**** SMARTPHONE ****/
@media (max-width: 576px) {
  .banner__housing__section {
    border-radius: 10px;
    margin-top: 30px;
    height: 260px;
  }
  .banner__housing__section img {
    width: 100%;
    height: 255px;
  }
  .banner__housing__arrowLeft {
    left: 5px;
    font-size: 40px;
    top: 110px;
  }
  .banner__housing__arrowRight {
    right: 5px;
    font-size: 40px;
    top: 110px;
  }
  .banner__housing__img {
    border-radius: 10px;
    height: 257px;
  }
}

@media (max-width: 376px) {
  .banner__housing__section {
    border-radius: 10px;
    margin-top: 30px;
  }
  .banner__housing__arrowLeft {
    left: 5px;
    font-size: 20px;
    top: 130px;
  }
  .banner__housing__arrowRight {
    right: 5px;
    font-size: 20px;
    top: 130px;
  }
}
