/**** DESKTOP ****/
/* container header */
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 100px 0 100px;
}
.header__container a.active {
  text-decoration: underline;
  color: var(--mainColor);
}
.header__logo__kasa {
  height: 68px;
  width: 210.32px;
}

/* container navbar */
.navbar__container {
  display: flex;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 34.22px;
}
.navbar__accueil {
  text-align: right;
  height: 34px;
  width: 136px;
  color: var(--mainColor);
}
.navbar__a-propos {
  color: var(--mainColor);
  text-align: right;
  height: 34px;
  width: 116px;
  padding-left: 57px;
}

/**** TABLET ****/
@media (max-width: 768px) {
  .header__container {
    margin: 30px 60px 0px 60px;
  }
  .header__logo__kasa {
    height: 58px;
    width: 190px;
  }
  .navbar__container {
    font-size: 20px;
    line-height: 32px;
  }
  .navbar__accueil {
    height: 32px;
    width: 100px;
  }
  .navbar__a-propos {
    height: 32px;
    width: 100px;
    padding-left: 35px;
  }
}

/**** SMARTPHONE ****/
@media (max-width: 576px) {
  .header__container {
    margin: 20px 20px 0px 20px;
  }
  .header__logo__kasa {
    height: 47px;
    width: 145px;
  }
  .navbar__container {
    font-size: 15px;
    line-height: 16px;
  }
  .navbar__accueil {
    height: 17px;
    width: 59px;
  }
  .navbar__a-propos {
    height: 17px;
    width: 71px;
    padding-left: 5px;
  }
}

@media (max-width: 375px) {
  .navbar__container {
    font-size: 12px;
    line-height: 17.11px;
  }
}

