/* variables */
:root {
  --mainColor: #ff6060;
  --secondaryColor: #ffffff;
  --BgColor: #f7f7f7;
  --BgColor2: #000000;
}

/* full pages */
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

/* Breakpoint	Class infix	Dimensions
X-Small	None	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px */
