/* container carroussel titles and filters and profil */
.section__personalDataHousing {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  
  /* container carroussel titles and filters */
  .personalDataHousing__container__titlesAndFilters {
    display: flex;
    flex-direction: column;
  }
  
  /* container carroussel titles */
  .personalDataHousing__container__titles {
    display: flex;
    flex-direction: column;
    color: var(--mainColor);
  }
  .personalDataHousing__title {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 142.6%;
  }
  .personalDataHousing__subTitle {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
  }
  
  /* container carroussel filters */
  .personalDataHousing__container__filters {
    display: flex;
    margin-top: 23px;
  }

  
  /* container carroussel profil */
  .personalDataHousing__container__profilAndStars {
    display: flex;
    flex-direction: column;
  }
  .personalDataHousing__container__profil__nameAndBadge {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .personalDataHousing__profil__name {
    text-align: end;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    color: var(--mainColor);
  }
  .personalDataHousing__profil__badge {
    margin-left: 10px;
    width: 64px;
    height: 64px;
    left: 1273px;
    top: 567px;
    border-radius: 50%;
    background-color: #c4c4c4;
  }
  .personalDataHousing__container__profil__stars {
    margin-top: 27px;
  }
